/* Header y navegación */
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #023047;  /* Azul oscuro para el fondo */
}

.nav-menu {
    display: flex;
    gap: 1rem;
}

.nav-menu a {
    color: #ffffff;  /* Blanco para los enlaces */
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.nav-menu a:hover {
    color: #ffb703;  /* Amarillo dorado en el hover */
}

.logo-text {
    color: #fb8500;  /* Naranja vibrante para el logo */
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-right {
    display: flex;
    gap: 1rem;
}

.nav-right a {
    color: #8ecae6;  /* Azul claro para los enlaces */
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}

.nav-right .opcion {
    font-weight: 500;
    font-size: 1.1rem;
    color: #219ebc;  /* Azul intenso para los botones */
}

.nav-right .opcion:hover {
    color: #fb8500;  /* Naranja brillante en hover */
}

#iniciar-sesion {
    border: 2px solid #fb8500;  /* Naranja brillante para el borde */
    color: #fb8500;  /* Naranja brillante */
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
}

#registro {
    background-color: #219ebc;  /* Azul intenso para el fondo */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
}

#iniciar-sesion:hover {
    background-color: #8ecae6; /* Azul claro en el hover */
    color: #fff;
    border-color: #8ecae6;  /* Azul claro */
}

#registro:hover {
    background-color: #023047;  /* Azul oscuro en el hover */
    color: #fff;
}
