html {
    overflow-y: scroll;
}

:root {
  --color-primary: #fb8500;      /* Naranja */
  --color-primary-dark: #e67300; /* Naranja oscuro para hover */
  --color-secondary: #219ebc;   /* Azul medio */
  --color-accent: #ffb703;      /* Amarillo */
  --color-dark: #023047;        /* Azul oscuro */
  --color-light: #8ecae6;      /* Azul claro */
  --color-white: #fff;
  --color-gray: #f8f9fa;
  --color-text: #495057;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.container {
    max-width: 1300px;
    min-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Estilo base para botones */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* Botón Primario (Naranja) */
.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn-primary:hover {
  background-color: var(--color-primary-dark);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.btn:active, .btn-primary:active {
  transform: translateY(0);
  box-shadow: none;
}

