html {
    overflow-y: scroll;
}

:root {
    --sky-blue: #8ecae6;
    --blue-green: #219ebc;
    --prussian-blue: #023047;
    --selective-yellow: #ffb703;
    --sandy-brown: #fb8500;
    --white: #ffffff;
    --off-white: #f8f9fa;
    --gray: #6c757d;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.container {
    max-width: 1300px;
    min-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Estilo base para botones */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* Botón Primario (Naranja) */
.btn-primary {
  background-color: var(--sandy-brown);
  color: var(--white);
}

.btn-primary:hover {
  background-color: var(--selective-yellow);
  color: var(--prussian-blue);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

/* Botón Secundario (Azul) */
.btn-secondary {
  background-color: var(--blue-green);
  color: var(--white);
}

.btn-secondary:hover {
  background-color: var(--prussian-blue);
  transform: translateY(-2px);
}

/* Botón de Peligro (Rojo) */
.btn-danger {
  background-color: #dc3545;
  color: var(--white);
}

.btn-danger:hover {
  background-color: #c82333;
  transform: translateY(-2px);
}

.btn:active {
  transform: translateY(0);
  box-shadow: none;
}

